* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100vw;
  height: 90vh;
  margin-top: 20vh;
}
.header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  width: 100vw;
  height: 10vh;
  background: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  letter-spacing: 1px;
  box-shadow: 1px 4px rgba(0, 0, 0, 0.16);
}
.header ul {
  display: flex;
  list-style: none;
}
.header li {
  margin: 0 10px;
  cursor: pointer;
}
.header li:hover {
  color: rgb(169, 178, 72);
}
.header-logo {
  display: block;
  height: 100%;
  width: 100px;
}
img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 30%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  margin: auto;
  border-radius: 15px;
  border: 1px solid #bababa;
  height: 85vh;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.16);
}
.three-column {
  display: grid;
  width: 100%;
  grid-template-columns: 32% 32% 32%;
  column-gap: 2%;
  margin-top: 2rem;
  padding: 0 2.5%;
}
.three-column .container {
  width: 100%;
  height: 100%;
}
.two-column {
  display: grid;
  width: 100%;
  grid-template-columns: 48% 48%;
  column-gap: 4%;
  row-gap: 2rem;
  margin-top: 2rem;
  padding: 0 2.5%;
}
.two-column .container {
  width: 100%;
  height: 100%;
}
.footer {
  width: 100%;
  height: 30vh;
  background: #292b33;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.socialMedia {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 76px;
}
.socialMedia svg {
  display: block;
  color: white;
  margin: auto;
  font-size: 30px;
  cursor: pointer;
}
.icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  width: 75px;
  margin: 10px;
  background-color: rgb(169, 178, 72);
  border-radius: 50%;
}
.footer p {
  color: white;
  margin: 30px 0;
}
.footer-link {
  color: rgb(169, 178, 72);
  margin: 0 5px;
  cursor: pointer;
}

@media only screen and (max-width: 780px) {
  .footer svg {
    font-size: 30px;
  }
  .footer p {
    text-align: center;
  }
}

@media only screen and (max-width: 400px) {
  .footer svg {
    font-size: 30px;
  }
}
